<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            body {
                margin: 0px;
                font-family: 'Roboto', sans-serif;
                background-color: #F2F0F0;
            }
            nav {
                background-color: #F1B9A5;
                padding: 10px;
            }
            nav ul {
                list-style: none;
                padding-left: 10px;
                display: flex;
            }
            nav li {
                padding-right: 10px;
            }
            nav a {
                text-decoration: none;
                font-size: 1.1rem;
                padding: 13px;
                background-color: #FFDDD2;
                color: black;
            }
            nav a:hover {
                border: solid white 1px;
            }
            h1 {
                text-align: center;
            }
            main {
                padding: 0px 20px;
            }
            .event {
                padding: 10px;
                margin: 10px;
                background-color: white;
            }
            form {
                background-color: #FFDDD2;
                padding: 10px;
                margin: 10px;
                text-align: center;
            }
            #zip {
                margin-left: 20px;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <% if (user) { %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
        <header>
            <h1>Events</h1>
        </header>
        <main>
            <form action="/events/zip/" method="get">
                <label for="zip">Input zip code to find events near you!</label><input type="text" name="zip" id="zip" required>
                <input type="submit" value="Seach!">
                <input type="hidden" value=zip>
            </form>
            <div>
                <% if (event) { 
                    for (let i = 0; i < event.length; i++) { %>
                <div class="event">
                <h2 class="event-title"><%= event[i].title %></h2>
                <p><%= event[i].date %> at <%= event[i].time %></p>
                <p><%= event[i].address %> in <%= event[i].city %></p>
                <p><%= event[i].description %></p>
                </div>
                <% }} %>
            </div>
        </main>
    </body>
</html>